<%- include('header'); -%>
 <div class="content">
 <h1 id="name">Name: Aryan Orpe</h1>
 <h1 id="address">Address: Cedre Villas, Silicon Oasis</h1>
 <h1 id="phone number">Phone number: 0567141542</h1>
 </div>
<%- include('footer'); -%>